html, body, div, span, applet, object, iframe,
h1, h2, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
  }
ol {
  list-style: inside;
  font-family: 'Open Sans', Arial, sans-serif; color: #505050; font-size: .5em;
  line-height: 2em;
 
}
h2 {
  font-size: 35px; font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 15px;
  color: red;
  line-height: 1em;
 
  }

/* changes color of lower half of text */
p {
font-family: 'Open Sans', Arial, sans-serif; font-size: 0.5em;
  /*text-align: justify;*/
  color: #505050
   
  }
p.red {
font-family: 'Open Sans', Arial, sans-serif;
  color: red;
 font-size: .5em;
 line-height: 1em;
}

ul {
  font-family: 'Open Sans', Arial, sans-serif;
 list-style: disc inside; color: #505050; font-size: .5em;
}


body {
    font-family: 'Open Sans', Arial, sans-serif;
    /*min-height: 740px;*/
	line-height: 1.25;
   background: white;
   /*font-family: 'PT Sans', sans-serif;*/
  
    
}
b, strong { font-weight: bold }
i, em { font-style: italic }
sub {font-size: .25em; line-height: .75em}
supersub {font-size: .5em; line-height: .75em}
super {font-size: .75em; }

img.center {
  display: block;
  margin: auto auto;
}
article p {
  font-family: 'Open Sans', Arial, sans-serif; font-size: .5em; color: #505050
}

code {
  font-size: 30%;
  font-family: "Source Code Pro", monospace;
  color: blue;
}


/* Tables */
table caption{
  margin-top: 20pt;
  font-size: .5em
  font-weight: normal;
  font-family: 'Open Sans', Arial, sans-serif;
}

table th {
  text-transform: capitalize;
}


/* Tables */
table caption{
  margin-top: 20pt;
  font-weight: normal;
  font-family: 'Open Sans', Arial, sans-serif; font-size: .5em;
}

table th {
  text-transform: capitalize;
}

/* Tables */

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  font-size: .5em;
  line-height: 1.5em;
  font-family: 'Open Sans', Arial, sans-serif; font-size: .5em;
    color: #505050;
}
table thead {
  /*border-top: 1px solid ;
  border-bottom: 1px solid ;*/ line-height: 2em;
}
table th, table td, table caption {
  margin: 0;
  padding: 2pt 6pt;
  text-align: left;
  vertical-align: top;
  line-height: 1.5em;
}
table th {
  background: white;
  color: #505050;
 line-height: 1.5em;
  
}
table td {
  line-height: 1em;
  color: #505050;
  line-height: 1.5em;
 
}
table tr:nth-child(2n+1) {
/*  background: #E8F2FF; */
  background: white;
  color: #505050;
  line-height: 1.5em;
  
}

a:link {text-decoration: none; }
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}

.step {
  width: 1000px;
   height: 800px;
   padding: 20px;
	margin: 10px;
/*	border: 2px  solid grey; */
  }
  


